{% extends 'store/index.html' %}

        {% block content %}
      <div class="row row-cols-1 row-cols-md-3 g-4"> 
        
        <div class="col">
          <div class="card h-100">
            <a href="./product_det/product_det.html">
                <img src="https://th.bing.com/th/id/OIG.dfRrN4x0hRaBgoojhVm2?w=1024&h=1024&rs=1&pid=ImgDetMain" class="card-img-top" alt="Kitchen complect">
            </a>
            <div class="card-body">
              <h5 class="card-title">Kitchen</h5>
              <p class="card-text">Is it time to update your kitchen area?</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Kitchen</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://th.bing.com/th/id/OIG.U5GFe8rWaCeLRm5myABV?w=1024&h=1024&rs=1&pid=ImgDetMain" class="card-img-top" alt="Bathroom">
            <div class="card-body">
              <h5 class="card-title">Modern Bathroom</h5>
              <p class="card-text">Maybe modern bathroon is your dream? Come on, we have a perfect version of bathroom ONLY for you!</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Bathroom</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://th.bing.com/th/id/OIG.ygmYjGWD35pfk6gVaFR5?pid=ImgGn" class="card-img-top" alt="Bedroom">
            <div class="card-body">
              <h5 class="card-title">Master Bedroom</h5>
              <p class="card-text">Do you want update your bedroom? New bed? Or maybe new table? Well, it's time to see something intresting!</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Bedroom</small>
            </div>
          </div>
        </div>
      </div>
      <!-- cards -->
      <div class="row row-cols-1 row-cols-md-3 g-4"> 
        
        <div class="col">
          <div class="card h-100">
            <img src="https://th.bing.com/th/id/OIG.h2LhGsqQVaDm8Deqo0RQ?w=1024&h=1024&rs=1&pid=ImgDetMain" class="card-img-top" alt="Children Bedroom">
            <div class="card-body">
              <h5 class="card-title">Children Bedroom</h5>
              <p class="card-text">We can always create the most comfortable bedroom for your lovely child!</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Children Bedroom</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://th.bing.com/th/id/OIG.Ijr3WhAogfyw50.OGq5j?w=1024&h=1024&rs=1&pid=ImgDetMain" class="card-img-top" alt="Living Room">
            <div class="card-body">
              <h5 class="card-title">Living Room</h5>
              <p class="card-text">Living room is the place in house where all family spend time together. Make this time amazing with the our help!</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Living Room</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://th.bing.com/th/id/OIG.qukV7A1xmW4ZaOVz3Y8J?pid=ImgGn" class="card-img-top" alt="Dinning Room">
            <div class="card-body">
              <h5 class="card-title">Dinning Room</h5>
              <p class="card-text">Do you agree that the most important part of house is a dinning room? And of course with modern and soft chair it will be more comfortable!</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Dinning room</small>
            </div>
          </div>
        </div>
      </div>
        {% endblock content %}
        
        {% block title %}
    <title>Home</title>
        {% endblock title %}
